# ==========================
# Node
# ==========================
node_modules/
npm-debug.log

# ==========================
# Environment
# ==========================
.env

# ==========================
# GeoTIFF Files (IMPORTANT)
# ==========================
files/
*.tif
*.tiff

# ==========================
# Logs
# ==========================
logs/
*.log

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db